<div *ngIf="(usersData | async) else loading">
<table class="table table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Avatar</th>
        <th>Repo Link</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of (usersData|async)">
        <td>{{user.login}}</td>
        <td><img height="200" width="200" class="image-responsive" src="{{user.avatar_url}}"></td>
        <td><a href="{{user.html_url}}">{{user.html_url}}</a></td>
      </tr>
    </tbody>
  </table>
</div>

  <ng-template #loading>Loading...</ng-template>

<!-- <div *ngFor="let user of (usersData|async)">{{user.login}}</div> -->
<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
