<splide (onInit)="onSplideInit($event)"
  [options]="{ perPage: 3, keyboard: false, direction: 'ttb',  wheel: true,
  autoWidth: true, waitForTransition:true, drag: 'free', gap: '2rem', fixedHeight: 200,
   height: '40rem', fixedWidth: 250, width: '40rem'}">
  <splide-slide>
    <img src="https://splidejs.com/images/slides/general/01.jpg" alt="" />
  </splide-slide>
  <splide-slide>
    <img src="https://splidejs.com/images/slides/general/02.jpg" alt="" />
  </splide-slide>
  <splide-slide>
    <img src="https://splidejs.com/images/slides/general/03.jpg" alt="" />
  </splide-slide>
  <splide-slide>
    <img src="https://splidejs.com/images/slides/general/04.jpg" alt="" />
  </splide-slide>
  <splide-slide>
    <img src="https://splidejs.com/images/slides/general/05.jpg" alt="" />
  </splide-slide>
  <splide-slide>
    <img src="https://splidejs.com/images/slides/general/06.jpg" alt="" />
  </splide-slide>
  <splide-slide>
    <img src="https://splidejs.com/images/slides/general/07.jpg" alt="" />
  </splide-slide>
  <splide-slide>
    <img src="https://splidejs.com/images/slides/general/08.jpg" alt="" />
  </splide-slide>
  <splide-slide>
    <img src="https://splidejs.com/images/slides/general/09.jpg" alt="" />
  </splide-slide>

</splide>